:root {
  color-scheme: light;

  /* Colors */
  --primary-color: #00c67f;
  --primary-color-hover: #03b574;

  --primary-color-disabled: #8fdec1;

  --secondary-color-light: #e3d0f5;
  --secondary-color-light-hover: #d4b4f1;
  --secondary-color-medium: #6a5acd;
  --secondary-color-dark: #4b0082;
  --secondary-color-disabled: #f5f3f7;

  --bg-color: #f3e5f5;
  --surface-color: #fff;

  --text-white: #fff;
  --text-light: #f1e5fd;
  --text-medium: #4b0082;
  --text-dark: #2e004b;

  --green-accent-color: #1b8233;
  --magenta-accent-color: #b00ab0;

  --danger-zone-color: #f7d1c9;
  --danger-color: #bb2706;
  --danger-color-hover: #ab2405;

  --scroll-mask: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0) 0%,
    var(--surface-color) 5%,
    var(--surface-color) 90%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Borders and focus rings */
  --primary-border-1: 1px solid var(--primary-color);
  --primary-border-2: 2px solid var(--primary-color);

  --secondary-border-1: 1px solid var(--secondary-color-light);
  --secondary-border-2: 2px solid var(--secondary-color-light);

  --error-border: 2px solid var(--magenta-accent-color);

  --primary-outline-1: 1px solid var(--primary-color);
  --primary-outline-2: 2px solid var(--primary-color);

  --error-outline: 1px solid var(--magenta-accent-color);
  --danger-outline: 2px solid var(--danger-color-hover);

  --outline-offset: 1px;

  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.7rem;
  --border-radius-lg: 1rem;

  /* Spacing */
  --default-line-height: 1.5;

  --padding-xxs: 0.5rem;
  --padding-xs: 0.8rem;
  --padding-sm: 1rem;
  --padding-md: 1.2rem;
  --padding-lg: 2rem;
  --padding-xl: 4rem;
  --padding-xxl: 5rem;

  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;

  /* Typography */
  --heading-font: 'Lobster', cursive;
  --body-font:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --h1-sm: 2rem;
  --h1-md: 2.2rem;
  --h1-lg: 3rem;
  --h1-xl: 3.5rem;

  --h2-xs: 1.8rem;
  --h2-sm: 1.9rem;
  --h2-md: 2rem;
  --h2-lg: 2.3rem;
  --h2-xl: 2.4rem;
  --h2-xxl: 2.5rem;

  --h3-sm: 1.9rem;
  --h3-md: 2rem;
  --h3-lg: 2.1rem;

  --font-xs: 1.4rem;
  --font-sm: 1.5rem;
  --font-md: 1.6rem;
  --font-lg: 1.7rem;
  --font-xl: 1.8rem;
}

:root.dark {
  color-scheme: dark;

  --primary-color: #3eb489;
  --primary-color-hover: #269e72;
  --primary-color-disabled: #558e78;

  --secondary-color-light: #551c8a;
  --secondary-color-light-hover: #481677;
  --secondary-color-medium: #3c327b;
  --secondary-color-dark: #340754;
  --secondary-color-disabled: #400f71;

  --bg-color: #250742;
  --surface-color: #2e004b;

  --text-white: #fff;
  --text-light: #f1e5fd;
  --text-medium: #9967bc;
  --text-dark: #e2d3eb;

  --green-accent-color: #30a54c;
  --magenta-accent-color: #d227d2;

  --danger-zone-color: #25043c;
  --danger-color: #90230a;
  --danger-color-hover: #7a1c07;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@supports (scrollbar-width: auto) {
  *,
  *::before,
  *::after {
    scrollbar-width: thin;
  }
}

@supports (scrollbar-color: auto) {
  *,
  *::before,
  *::after {
    scrollbar-color: var(--primary-color) var(--secondary-color-light);
    scrollbar-arrow-color: var(--primary-color);
  }
}

@supports (scrollbar-gutter: auto) {
  *,
  *::before,
  *::after {
    scrollbar-gutter: stable;
  }
}

@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--secondary-color-light);
  }

  *::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--border-radius-md);
  }
}

html {
  font-size: 62.5%;

  transition:
    color 0.25s ease,
    background-color 0.25s ease;
}

body {
  width: 100%;
  font-family: var(--body-font);
  font-size: var(--font-sm);
  line-height: var(--default-line-height);
  color: var(--text-dark);
  background-color: var(--bg-color);
}

.app-layout {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.app-container {
  min-width: 0;
  width: 95%;
  max-width: 900px;
  min-height: 0;

  margin: var(--margin-lg) auto;
  border-radius: var(--border-radius-lg);
  background-color: var(--surface-color);
  box-shadow: 0.1rem 0.1rem 1.5rem 0.3rem rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar {
  width: 100%;
  padding: var(--padding-sm);
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  background-color: var(--secondary-color-dark);

  overflow-x: auto;

  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-xl);
  font-weight: 700;
  text-align: center;
  word-wrap: break-word;
  color: var(--primary-color);
  padding: var(--padding-lg) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: var(--h2-lg);
}

h3 {
  font-size: var(--h3-sm);
}

h2,
h3 {
  color: var(--text-medium);
  margin: var(--margin-lg) 0;
}

.sidebar-tabs {
  width: 100%;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-lg);
  border-bottom: 1px solid hsla(271, 65%, 89%, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 700px;
  padding: var(--padding-sm);
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  background-color: var(--surface-color);
  flex: 1;
}

.panel {
  width: 100%;
  min-height: 100%;
  padding: var(--padding-sm);

  display: flex;
  flex-direction: column;
}

.panel-header {
  width: 100%;
}

footer {
  text-align: center;
  padding: var(--padding-lg) 0;
  margin: 0 0 var(--margin-sm);
}

footer small {
  font-size: var(--font-sm);
  padding: var(--padding-lg);
}

.sidebar-footer {
  color: var(--text-light);
  margin-top: auto;

  display: none;
}

.main-footer {
  color: var(--text-medium);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@media screen and (min-width: 320px) {
  .sidebar-tabs {
    flex-direction: row;
  }
}

@media screen and (min-width: 425px) {
  .sidebar-tabs {
    width: 90%;
    margin: auto;
    margin-bottom: var(--margin-sm);
  }

  h2 {
    font-size: var(--h2-xl);
  }

  h3 {
    font-size: var(--h3-md);
  }
}

@media screen and (min-width: 576px) {
  .sidebar-tabs {
    width: 80%;
  }

  main {
    min-height: 500px;
  }

  h2 {
    font-size: var(--h2-xxl);
  }

  h3 {
    font-size: var(--h3-lg);
  }
}

@media screen and (min-width: 768px) {
  .app-container {
    min-height: 638px;

    display: grid;
    grid-template-columns: 180px 1fr;
  }

  .sidebar {
    border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
    gap: 6rem;
  }

  h1 {
    font-size: var(--h1-lg);
  }

  .sidebar-tabs {
    width: 100%;
    margin: 0;
    border-bottom: none;

    flex-direction: column;
    gap: 1rem;
  }

  main {
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  }

  footer,
  footer small {
    padding: 0 0 var(--padding-sm);
  }

  .sidebar-footer {
    display: block;
  }

  .main-footer {
    display: none;
  }
}

@media screen and (min-width: 840px) {
  .app-container {
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  h1 {
    font-size: var(--h1-xl);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: auto !important;
  }
}
